body{
    margin: 0;
    padding: 0;
    font-family: Arial;
    background-color: antiquewhite;
}

header, footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
}

.grid-itens {
    border: 5px #000000 solid;
    border-radius: 5px;
}

.grid-itens img{
    width: 100%;
    display: block;
}

.grid-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    align-items: center;
    gap: 20px;
}

.grid-itens:hover{
    transform: scale(1.05);
    transition: transform 0.3s;
}

.large{
    grid-column: span 2;
}

@media (max-width: 1024px) {
    .grid-container {
        grid-template-columns: repeat(3,1fr);
    }
}

@media (max-width: 720px) {
    .grid-container {
        grid-template-columns: repeat(2,1fr);
    }
}



